<?xml version="1.0" encoding="utf-8" ?>
<EventPriorityCollection>
  <Event type="Motion" priority="1" />
  <Event type="DigitalInput" priority="1" />
  <Event type="DigitalOutput" priority="1" />
  <Event type="NetworkLoss" priority="1" />
  <Event type="NetworkRecovery" priority="1" />
  <Event type="VideoLoss" priority="1" />
  <Event type="VideoRecovery" priority="1" />
  <Event type="RecordFailed" priority="1" />
  <Event type="RecordRecovery" priority="1" />
  <Event type="UserDefine" priority="1" />
  <Event type="ManualRecord" priority="1" />
  <Event type="RAIDDegraded" priority="1" />
  <Event type="RAIDInactive" priority="1" />
  <Event type="IVS" priority="1" />
  <Event type="CrossLine" priority="1" />
  <Event type="Panic" priority="1" />
  <Event type="AudioIn" priority="1" />
  <Event type="AudioOut" priority="1" />
  <Event type="VideoRecord" priority="1" />
</EventPriorityCollection>